/* Remove browser styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --padding: 2rem;
}

body {
    padding: var(--padding);
}

#container {
    display: flex;
    flex-direction: column;
    width: calc(100vh - 2 * var(--padding));
    height: calc(100vh - 2 * var(--padding));
    margin: auto;
    border: 1px solid black;
}
.row {
    display: flex;
    flex: 1;
}
.square {
    background-color: #f7f7f7;
    flex: 1;
}