/* Remove browser styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;

}
.row {
    display: flex;
}
.square {
    background-color: #f7f7f7;
    flex: 1;
    height: calc(100vh / 16);
}